<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="core" connectionString="trusted_connection=yes;data source=GSMITH;database=PenelopeSitecore.core" />
  <add name="master" connectionString="trusted_connection=yes;data source=GSMITH;database=PenelopeSitecore.master" />
  <add name="web" connectionString="trusted_connection=yes;data source=GSMITH;database=PenelopeSitecore.web" />
</connectionStrings>